<div>
    <h3 class="text-center">Filter by Island</h3>
    <div class="row">
        <div class="col">
            <input id="chkIsland1" name="chkIsland1" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Lopez"/>
            <label for="chkIsland1">Lopez</label>
        </div>
        <div class="col">
            <input id="chkIsland2" name="chkIsland2" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="Orcas"/>
            <label for="chkIsland2">Orcas</label>
        </div>
        <div class="col">
            <input id="chkIsland3" name="chkIsland3" type="checkbox" data-dojo-type="dijit/form/CheckBox" value="San Juan"/>
            <label for="chkIsland3">San Juan</label>
        </div>
        <div class="col">
            <input id="chkIsland4" name="chkIsland4" type="checkbox" data-dojo-type="dijit/form/Checkbox" value="Shaw"/>
            <label for="chkIsland4">Shaw</label>
        </div>
        <div class="col">
            <input id="chkIsland5" name="chkIsland5" type="checkbox" data-dojo-type="dijit/form/Checkbox" value="Decatur"/>
            <label for="chkIsland5">Decatur</label>
        </div>
    </div>
</div>
